.arrowDown_rotate_id_true,
.arrowDown_rotate_firstName_true,
.arrowDown_rotate_lastName_true,
.arrowDown_rotate_email_true,
.arrowDown_rotate_phone_true,
.arrowDown_rotate_state_true{
    transform: rotate(180deg);
   cursor: pointer;
}

.arrowDown_rotate_id_false,
.arrowDown_rotate_firstName_false,
.arrowDown_rotate_lastName_false,
.arrowDown_rotate_email_false,
.arrowDown_rotate_phone_false,
.arrowDown_rotate_state_false{
    cursor: pointer;
   
}

td, th {
    border: 1px solid black;
}
th {
    text-align: center;
    cursor: pointer;
    font-family: 'cursive';
}

tr {
    cursor: pointer;
}

.table{
    border-collapse: collapse;
    margin: 0 auto;
}


